/******************************************
Custom CSS for phictional.de,
               phictional.one

               ,,,
               ,,,

             /,,,,
         %,,,,,,,,   ,,%
     (,,,,,    ,,,   ,,,,,(
   %,,,,       ,,,     ,,,,,,%
 %,,,,         ,,,       ,,,,,,,(
,,,,*          ,,,             ,,,,
,/             ,,,              /,,
               ,,,              /,,
 ,/            ,,,              /,,
,,/            ,,,              /,,
,,/            ,,,              /,,
,,/            ,,,              /,,
,,,&           ,,,             &,,,
 ,,,,,,%       ,,,         %,,,,,,,
   ,,,,,&      ,,,     &,,,,,,,,
      ,,,,,,   ,,,   ,,,,,,,
        ,,,,   ,,,   ,,,
               ,,,
               ,,,
               ,,,

author: Alexander "phi" Goetz
*******************************************/

:root {
  /* custom color palette */
  --color-olive-light:    #d8ca9d;
  --color-olive:          #a09061;
  --color-honey-warm:     #ffea9d;
  --color-honey-mustard:  #ffe5ac;
  --color-honey-yellow:   #ffe5bd;
  --color-honey-dark:     #ff312f;

  /* Background Image Asset folder */
  --img-olivetree: url('/assets/olivetree-50.jpg');

  /* actual variables */
  --color-highlight: var(--color-olive-light);
  --img-background: var(--img-olivetree);
}

body,
h1 {
  font-family: "Raleway", sans-serif;
  text-shadow: 1px 1px 40px #000000;
  padding-top: 0px;
  margin-top:  0px;
}

body,
html {
  height: 100%
}

.bgimg {
  background-color: dimgrey;
  background-image: var(--img-background);
  min-height: 100%;
  background-position: center;
  background-size: cover;
}

.emp {
  font-family: roboto, monospaced;
  color: var(--color-highlight);
}

.svg {
  height: 10em;
  weight: 10em;
  margin: 0px;
  padding: 0px;
}

#phi {
  fill: var(--color-highlight);
}

#one {
  fill: var(--color-highlight);
}

#one:hover {
   fill: var(--color-honey-dark);
}

.icon:hover {
  color: var(--color-highlight);
}

.noselect {
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
